@mixin clicky-base($size, $align) {
    display: inline-block;

    input {
        /* Making the size and position of the input fixed. */
        margin: 3px;
        height: 12px;
        width: 12px;
        vertical-align: $align; /* should be the same as the one of the span */

        & + span {
            display: inline-block;
            box-sizing: content-box;
            vertical-align: $align;

            /*
                Moving the span over the input, not the other way round.
                Reason: the input is not moved..
            */
            margin-left: -23px;

            text-align: center;

            /*
                The whitespace is needed, otherwise the span goes for a walk..
            */
            white-space: pre;

            /*
                Use the same font for the space and the check symbol because the span
                will start to jump up/down. (happens when the checkbox is small e.g. 18px)
            */
            font-family: Arial, Helvetica, sans-serif;

            &:after {
                content: '\0020'; /* whitespace */
                content: '\200B'; /* zero-width-space */
            }
        }

        /* Tabbing outline. (messy things) */
        &:focus + span {
            outline: 3px solid rgba(94, 158, 215, 0.4); /* safary, firefox */
            outline: 3px auto -webkit-focus-ring-color; /* chrome, opera */
            outline-offset: -2px;
        }
    }
}

@mixin empty-clicky-checkbox($size, $align: baseline) {
    @include clicky-base($size, $align);
    @include clicky-checkbox-set-size($size);

    input {
        & + span {
            /*
                Some default styling. Overwrite them at will,
                e.g. this looks cool: border-radius: 0; box-shadow: none;
            */
            background-color: #fafafa;
            border: 1px solid #cacece;
            border-radius: 3px;
            box-shadow: inset 0px -15px 10px -5px rgba(0, 0, 0, 0.05); /* shadow at the bottom of the checkbox */
        }

        /* The pressed in effect. */
        & + span:active, &:checked + span:active {
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        }

        &:checked + span {
            background-color: #e9ecee;
            border: 1px solid #adb8c0;
            color: #99a1a7;
        }
    }
}

@mixin clicky-checkbox-set-size($size) {
    input + span {
        width: $size - 2px;
        height: $size - 2px;

        /*
            The line-height of the label will change the one of the span,
            so let's make the value fixed.
        */
        line-height: $size - 2px;

        /*
            Same as the line-height..
        */
        font-size: $size - 4px;
    }
}

label.clicky-checkbox {
    @include empty-clicky-checkbox(20px);

    input {
        &:checked + span:after {
            content: '\2713'; /* check symbol */
            font-style: bold;
            color: #64696E;
        }
    }
}

label.clicky-checkbox.large {
    @include clicky-checkbox-set-size(32px);
}

@mixin empty-clicky-radio($size, $align: baseline) {
    @include clicky-base($size, $align);
    @include clicky-radio-set-size($size);

    input {
        & + span {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: inset 0px -15px 10px -5px rgba(0, 0, 0, 0.05); /* shadow at the bottom of the checkbox */
            border-radius: 50px;
            display: inline-block;

            vertical-align: middle;
        }
    }
}

@mixin clicky-radio-set-size($size) {
    $inner-diameter: ceil(0.6 * $size);

    input {
        & + span {
            height: $size - 2px;
            width: $size - 2px;

            /*
                The line-height of the label will change the one of the span,
                so let's make the value fixed.
            */
            line-height: $inner-diameter;

            /*
                Same as the line-height..
            */
            font-size: $inner-diameter;
            position: relative;
        }

        & + span:after {
            position: absolute;

            height: $inner-diameter;
            width: $inner-diameter;

            top: 0.5 * ($size - $inner-diameter - 2px);
            left: 0.5 * ($size - $inner-diameter - 2px);
        }
    }
}

label.clicky-radio {
    @include empty-clicky-radio(20px);

    input {
        &:checked + span:after {
            border-radius: 50px;
            background: #99a1a7;
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
            text-shadow: 0px;
        }

        &:checked + span {
            background-color: #e9ecee;
            color: #99a1a7;
            border: 1px solid #adb8c0;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

label.large.clicky-radio {
    @include clicky-radio-set-size(32px);
}
