label.clicky-checkbox {
  display: inline-block; }
  label.clicky-checkbox input {
    /* Making the size and position of the input fixed. */
    margin: 3px;
    height: 12px;
    width: 12px;
    vertical-align: baseline;
    /* should be the same as the one of the span */
    /* The pressed in effect. */
    /* Tabbing outline. (messy things) */ }
    label.clicky-checkbox input + span {
      display: inline-block;
      box-sizing: content-box;
      vertical-align: baseline;
      /*
          Moving the span over the input, not the other way round.
          Reason: the input is not moved..
      */
      margin-left: -23px;
      width: 18px;
      height: 18px;
      text-align: center;
      /*
          Some default styling. Overwrite them at will,
          e.g. this looks cool: border-radius: 0; box-shadow: none;
      */
      background-color: #fafafa;
      border: 1px solid #cacece;
      border-radius: 3px;
      box-shadow: inset 0px -15px 10px -5px rgba(0, 0, 0, 0.05);
      /* shadow at the bottom of the checkbox */
      /*
          The line-height of the label will change the one of the span,
          so let's make the value fixed.
      */
      line-height: 18px;
      /*
          Same as the line-height..
      */
      font-size: 16px;
      /*
          The whitespace is needed, otherwise the span goes for a walk..
      */
      white-space: pre; }
      label.clicky-checkbox input + span:after {
        content: '\0020';
        /* whitespace */ }
    label.clicky-checkbox input + span:active, label.clicky-checkbox input:checked + span:active {
      box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); }
    label.clicky-checkbox input:focus + span {
      outline: 3px solid rgba(94, 158, 215, 0.4);
      /* safary, firefox */
      outline: 3px auto -webkit-focus-ring-color;
      /* chrome, opera */
      outline-offset: -2px; }
    label.clicky-checkbox input:checked + span {
      background-color: #e9ecee;
      border: 1px solid #adb8c0;
      color: #99a1a7; }
  label.clicky-checkbox input:checked + span:after {
    content: '\2713';
    /* check symbol */
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #64696E; }
